<%- include('partials/header'); -%>
  <body>
      <div class="login">
        <h1>Log in</h1>
        <p>Enter or email and password to login our panel</p>
        <form action="/" method="POST">
          <label for="">Email</label>
          <input type="text" name="email" placeholder="Enter your E-mail">
          <label for="">Password</label>
          <div>
            <input class="password" type="password" name="password" placeholder="Enter your Password" autocomplete="off">
            <i class="bi bi-eye-slash togglePassword"></i>
          </div>
          <input type="submit" value="Sign In" />
        </form>
        <p>Don't have an account? <a href="register">Register</a></p>
      </div>
    <script src="js/pass.js"></script>
  </body>
</html>