<%- include('partials/header'); -%>
  <body>
      <div class="login">
        <h1>Posts</h1>
        <p>Sem criatividade, aqui é o fim</p>
        <form action="/" method="POST">
          <label for="">Post</label>
          <input type="text" name="email" placeholder="Enter your E-mail">
        </form>
      </div>
  </body>
</html>